* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pictures {
    width: 100vw;
    height: 40vh;
}
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

section {
    background-color:#b3d78e;
    height: 60vh;
}

.list {
    margin-left: 7%;
    padding-top: 3%;
    margin-bottom: 2%;  
    font-size: 30px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    margin: 0 2% 2% 5%; 
    font-size: 18px;
}
.add {
    background-color: #4CAF50;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    padding: 8px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

ul {
    margin-left: 7%;
    font-size: 20px;
}

.task {
    margin-bottom: 1%;
    color: black;
    font-family: Arial;
    cursor: pointer;
}
.checked {
    text-decoration: line-through;
}